---
layout: layout.liquid
title: Home
---

<h1>Welcome to Chronicles of a Lone Explorer!</h1>
<img alt="pine" src="/images/pine.png" width="250" />
Join me on this solitary journey through the cosmos. Explore my latest blog posts:
<a href="/blog/blog-post-1">Journey Through the Stars</a>
<a href="/blog/blog-post-2">Echoes in the Void</a>